.barra_navegacion {
    background-color: #200f6b;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.barra_navegacion a {
    color: #ffffff;
    text-align: center;
    padding-right: 50px;
    margin-top: 5px;
}

.parrafo {
    font-family: Verdana;
}

.Buscar:hover {
    background: rgb(32, 211, 47);
    color: #ffffff;
    cursor: pointer;
    
}

.menu{
    margin-top: 5px;
}

.buscador{
    position: absolute;
    top: 13px;
    left: 65%;
}

@media (max-width: 768px){
    .barra_navegacion{
        height: 30px;
    }

    .buscador{
        display: none;
    }
}
